mixin contact-card(options)
  -const opt = options || {}
  -const linkedin = opt.linkedin
  -const twitter = opt.twitter
  -const name = opt.name
  -const role = opt.role
  .contact-card
    .contact-card--links
      if linkedin
        a.contact-card--link(href=linkedin, title='LinkedIn de ' + name, target='_blank')
          i.icon-linkedin
      if twitter
        a.contact-card--link(href=twitter, title='Twitter de ' + name, target='_blank')
          i.icon-twitter
    .contact-card--name #{name}
    if role
      .contact-card--role (#{role})
