.contribution-link {
  display: flex;
  gap: 5px;
  transition: 300ms;
  border-radius: 2.5rem;
  background-color: $s4j-content-background-color;
  cursor: pointer;
  padding: 15px 30px;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;

  &:hover {
    background-color: $s4j-primary-color;
  }

  * {
    color: $s4j-primary-text-color;
  }
}
