extends /layout-documentation

block append vars
  -active='atom'

block title
  title Tikui - Atoms

block content
  .tikui-vertical-spacing.-s32
    .tikui-vertical-spacing--line
      h1.tikui-title-main#atoms Atoms
    .tikui-vertical-spacing--line
      include /documentation/atomic-design/quote/atom
    .tikui-vertical-spacing--line
      // Atoms componentDoc
    include:componentDoc(height=25) company-location/company-location.md
    include:componentDoc(height=40) company-name/company-name.md
    include:componentDoc(height=20) company-website/company-website.md
    include:componentDoc(height=50) contact-card/contact-card.md
    include:componentDoc(height=50) contribution-link/contribution-link.md
    include:componentDoc(height=60) discord-link/discord-link.md
    include:componentDoc(height=130) info-card/info-card.md
    include:componentDoc(height=500) logo/logo.md
    include:componentDoc(height=50) page-title/page-title.md
    include:componentDoc(height=40) summary/summary.md
