include /molecule/company/company.mixin.pug

mixin companies
  .companies
    +company({name: 'LDLC', website: 'https://www.ldlc.com/'})
    +company({
      name: 'Ideme',
      website: 'https://ideme.fr',
      location: 'Lyon',
      details: {
        employees: '10 - 50',
        contract: '174 jours / an',
        industry: 'Conseil',
      },
      contacts: [
        {
          name: 'Pascaline LAROSE (Présidente)',
          linkedin: 'https://www.linkedin.com/in/pascaline-larose-a91a5a2a/'
        },
        {
          name: 'Colin DAMON (Dev.)',
          linkedin: 'https://www.linkedin.com/in/colin-damon/',
          twitter: 'https://twitter.com/colinou',
        }
      ]
    })
    +company({name: 'Welcome to the Jungle', site: 'https://www.welcometothejungle.com/fr'})
    +company({name: 'Structa', site: 'https://www.structa.fr/'})
