.company-website {
  display: flex;
  flex: 1 1 0px;
  gap: 10px;
  justify-content: center;
  transition: 300ms;
  text-decoration: none;
  font-weight: 400;

  &:hover {
    gap: 22px;
  }

  &--icon {
    * {
      color: $s4j-primary-color;
    }
  }
}
