.company-name {
  position: relative;
  transition: 300ms;
  cursor: pointer;
  padding: 5px 15px;
  width: fit-content;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: 3rem;
  white-space: nowrap;
  font-size: 1.7rem;
  font-weight: 700;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transform-origin: center;
    transition: opacity 300ms, transform 300ms;
    opacity: 0;
    opacity: 1;
    background-color: $s4j-primary-color;
    width: 100%;
    height: 2px;
    content: '';
  }

  &:hover::after {
    transform: scale(1);
  }
}
