extends /layout.pug

include /atom/page-title/page-title.mixin.pug
include /atom/summary/summary.mixin.pug
include /atom/contribution-link/contribution-link.mixin.pug
include /atom/discord-link/discord-link.mixin.pug
include /atom/logo/logo.mixin.pug
include /organism/companies/companies.mixin.pug

block body
  .home
    .home--content
      .home--header
        +logo
        +page-title
        +summary
        .home--actions
          +contribution-link
          +discord-link
      .home--companies
        .companies
          +company(
            {
              name: 'ACCENTURE France',
              website: 'https://www.accenture.com/fr-fr',
              details: {
                employees: '10 000+',
                contract: '4 jours possible',
                industry: 'Conseil',
              }
            }
          )

          +company(
            {
              name: 'Acorus',
              website: 'https://www.groupe-acorus.fr/',
              location: 'Croissy Beaubourg',
              details: {
                employees: '1 000 - 2 000',
                contract: '4 jours, 35h',
                industry: 'BTP',
              }
            }
          )

          +company(
            {
              name: 'Auberge du Vertmont',
              website: 'https://www.vertmont.fr/',
              location: 'Boeschepe (59)',
              details: {
                contract: '4 jours, 43h',
                industry: 'Restauration',
              }
            }
          )

          +company(
            {
              name: 'Bizay',
              website: 'https://www.bizay.fr/',
              location: 'Lisbonne',
              details: {
                employees: '100 - 200',
                contract: '4 jours, 36h',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'Chassint Peinture',
              website: 'https://www.chassintpeinture.fr/fr/',
              location: 'Béduer',
              details: {
                employees: '10 - 50',
                industry: 'Industrie',
              }
            }
          )

          +company(
            {
              name: 'De Bussac Multimedia',
              website: 'https://www.debussac.net/',
              location: 'Clermont-Ferrand',
              details: {
                employees: '10 - 50',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'Elmy',
              website: 'https://elmy-energie.fr/',
              location: 'Lyon',
              details: {
                employees: '100 - 500',
                contract: '4 jours, 32h',
                industry: 'Énergie',
              }
            }
          )

          +company(
            {
              name: 'Griffon Marine',
              website: 'https://griffonmarine.fr/',
              location: 'Chanverrie',
              details: {
                employees: '50 - 100',
                contract: '4 jours, 35h à 40h',
                industry: 'Ameublement',
              },
              contacts: [
                {
                  name: 'Etienne BOURDELIER',
                  role: 'Directeur général',
                  linkedin: 'https://www.linkedin.com/in/etienne-boudelier-a21473158/'
                }
              ]
            }
          )

          +company(
            {
              name: 'Groupe Tenor',
              website: 'https://www.groupetenor.com/',
              location: 'Paris',
              details: {
                employees: '100 - 200',
                contract: '4 jours, 32h',
                industry: 'Conseil',
              }
            }
          )

          +company(
            {
              name: 'Hybride Conseil',
              website: 'https://hybride-conseil.fr/',
              location: 'Perpignan',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 35h',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'Ideme',
              website: 'https://ideme.fr',
              location: 'Lyon',
              details: {
                employees: '10 - 50',
                contract: '174 jours / an',
                industry: 'Conseil',
              },
              contacts: [
                {
                  name: 'Pascaline LAROSE',
                  role: 'Présidente',
                  linkedin: 'https://www.linkedin.com/in/pascaline-larose-a91a5a2a/'
                },
                {
                  name: 'Colin DAMON',
                  role: 'Dev.',
                  linkedin: 'https://www.linkedin.com/in/colin-damon/'
                }
              ]
            }
          )

          +company(
            {
              name: 'IT Partner',
              website: 'https://itpartner.fr/',
              location: 'Lyon',
              details: {
                employees: '50 - 100',
                contract: '4 jours, 32h',
                industry: 'Conseil',
              }
            }
          )

          +company(
            {
              name: 'JC Logistique',
              website: 'https://www.groupe-livio.fr/entreprise/jc_logistique.html',
              location: 'Fresse-sur-Moselle',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 39h',
                industry: 'BTP',
              }
            }
          )

          +company(
            {
              name: 'La métropole de Lyon',
              website: 'https://www.grandlyon.com',
              location: 'Lyon',
              details: {
                employees: '5 000 - 10 000',
                contract: '4 ou 4.5 jours, 35h',
                industry: 'Public',
              }
            }
          )

          +company(
            {
              name: 'LDLC',
              website: 'https://www.ldlc.com/',
              location: 'Lyon',
              details: {
                employees: '500 - 1 000',
                contract: '4 jours, 32h',
                industry: 'Retail',
              }
            }
          )

          +company(
            {
              name: 'Le laboureur',
              website: 'https://www.lelaboureur.com/',
              location: 'Digoin',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 35h',
                industry: 'Textile',
              }
            }
          )

          +company(
            {
              name: 'LOVE RADIUS',
              website: 'https://love-radius.com/fr/',
              location: 'La garde',
              details: {
                employees: '10 - 50',
                contract: '4 jours 4 fois / an',
                industry: 'Produits bébé',
              }
            }
          )

          +company(
            {
              name: 'Meilisearch',
              website: 'https://www.meilisearch.com/',
              location: 'Paris',
              details: {
                employees: '10 - 50',
                industry: 'Moteur de recherche',
              }
            }
          )

          +company(
            {
              name: 'Mutuelles du Soleil',
              website: 'https://www.mutuellesdusoleil.fr/',
              location: 'Marseille',
              details: {
                employees: '300 - 400',
                industry: 'Assurance',
              }
            }
          )

          +company(
            {
              name: 'Mozoo',
              website: 'https://www.mozoo.fr/',
              location: 'Paris',
              details: {
                employees: '10 - 50',
                contract: '174 jours / an',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'MJ Conditionnement',
              website: 'https://www.mjconditionnement.fr/',
              location: 'Hartennes-et-Taux',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 39h',
                industry: 'Conditionnement d\'aérosols',
              }
            }
          )

          +company(
            {
              name: 'MV group',
              website: 'https://www.mv-group.fr',
              location: 'Lyon',
              details: {
                employees: '300 - 400',
                contract: '4 jours, 35h',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'Pimpant',
              website: 'https://www.pimpant.com/',
              location: 'Normandie',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 32h',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'Pro sima',
              website: 'https://pro-sima.fr',
              location: 'Castelnau-le-Lez',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 35h',
                industry: 'Installation informatique',
              },
              contacts: [
                {
                  name: 'Nicolas MICHEL',
                  role: 'CEO',
                  linkedin: 'https://www.linkedin.com/in/nicolas-michel-09380a83/'
                }
              ]
            }
          )

          +company(
            {
              name: 'Radioshop',
              website: 'https://www.radioshop.fr',
              location: 'Saint jean de vedas',
              details: {
                employees: '10 - 50',
                contract: '4 jours, 32h',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'Structa',
              website: 'https://www.structa.fr/',
              location: 'Beaumont lès valence',
              details: {
                employees: '50 - 100',
                contract: '4 jours, 36h',
                industry: 'Ameublement',
              }
            }
          )

          +company(
            {
              name: 'Systemes B',
              website: 'https://www.systemes-b.com',
              location: 'Carcassone',
              details: {
                employees: '1 - 10',
                contract: '28h',
                industry: 'Conseil',
              }
            }
          )

          +company(
            {
              name: 'URSSAF Picardie',
              website: 'https://picardie.urssaf.fr',
              location: 'Amiens',
              details: {
                employees: '100 - 500',
                contract: '4 jours, 39h',
                industry: 'Public',
              }
            }
          )

          +company(
            {
              name: 'Welcome to the Jungle',
              website: 'https://www.welcometothejungle.com/fr',
              location: 'Paris',
              details: {
                employees: '300 - 500',
                contract: '4 jours, 32h',
                industry: 'Digital',
              }
            }
          )

          +company(
            {
              name: 'Yprema',
              website: 'https://www.yprema.fr/',
              location: 'Chennevières-sur-Marne',
              details: {
                employees: '50 - 100',
                contract: '4 jours, 35h',
                industry: 'BTP',
              }
            }
          )
