.summary {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;

  &--p {
    margin-top: 10px;
    color: $s4j-secondary-text-color;
  }

  @media screen and ($computer-media) {
    max-width: 630px;

    &--p {
      margin-top: 20px;
    }
  }
}
