mixin summary
  .summary
    p.summary--p La semaine de 4 jours fait sont chemin mais ce nouveau mode de fonctionnement pose encore beaucoup de questions.
    p.summary--p Cette page rassemble une communauté de personnes auxquelles vous pouvez poser toutes vos questions sur ce sujet.
